<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Pizza Hot</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/accueil.css">
    <link rel="stylesheet" href="css/modals.css">
    <script src="accueil.js"></script>
</head>

<body>
  <div id=page class="container-fluid">

      <%- include('modals'); %>

      <!------------------------------------ banniere -------------------------------------->

      <!-------------------------- navbar -------------------------->
          <ul id="banniere" class="row">
              <li id="logo"><button> Pizza Hot </button></li>
              <li id="inscription"><a href="#">Inscription</a></li>
              <li id="connexion"><a href="#">Connexion</a></li>
          </ul>
          <!-------------------------- navbar -------------------------->
          <ul id="navbarProd" class="row col-xs-12 col-sm-12 col-md-8 col-lg-9">
              <li><button id="carte_menus">Menus</button></li>
              <li><button id="carte_entrees">Entrees</button></li>
              <li><button id="carte_pizzas">Pizzas</button></li>
              <li><button id="carte_boissons">Boissons</button></li>
              <li><button id="carte_desserts">Desserts</button></li>
              <li><button id="carte_sauces">Sauces</button></li>

          </ul>

      <!------------------------------ HORS banniere/NAVBAR ------------------------------->
      <div id="hors_nav">
          <!-------------------- liste des produits -------------------->
          <div class="row">
            <div id="div_produits" class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
              
              <div id="div_produits_menus" class="row" hidden>
                <% for(let i=0; i<menus.length; i++) { %>
                <div class="div_produit col-12 col-sm-6 col-md-6 col-lg-4 text-center">
                  <div class="inside_div_produit">
                    <img src="images/<%= menus[i].nom %>.jpg" alt="<%= menus[i].nom %>" class="img-fluid"/>
                    <p class="nom_item"> <%= menus[i].nom %> </p>
                    <p> <%= menus[i].nb_entree %> entrée<% if (menus[i].nb_entree!==1) {%>s<%}%> +
                     <%= menus[i].nb_pizza %> pizza<% if (menus[i].nb_pizza!==1) {%>s<%}%> +
                     <%= menus[i].nb_boisson %> boisson<% if (menus[i].nb_boisson!==1) {%>s<%}%>
                    </p>
                    <p class="prix_item"> <%= menus[i].prix %>€ </p>
                    <button class="bouton_item bouton_menu_choisir" data-toggle="modal" data-target="#modal_menu<%=i%>">Choisir</button>
                  </div>
                </div>
                <% } %> 
              </div>

              <div id="div_produits_entrees"  class="row" hidden>
                <% for(let i=0; i<entrees.length; i++) {
                  if (i%3===0 || entrees[i].sauce===null) { %>
                <div class="div_produit col-12 col-sm-6 col-md-6 col-lg-4 text-center">
                  <div class="inside_div_produit">
                    <img src="images/<%= entrees[i].nom %>.jpg" alt="<%= entrees[i].nom %>" class="img-fluid"/>
                    <p class="nom_item"> <%= entrees[i].nom %> </p>
                    <% if(entrees[i].sauce!==null) { %>
                    <select name="sauce" class="select select-sauce">
                      <% for(let j=0; j<sauces.length; j++) { %>
                      <option value=<%=sauces[j].nom%>><%=sauces[j].nom%></option>
                      <% } %>
                    </select>
                    <% } %>
                    <p class="prix_item"> <%= entrees[i].prix %>€ </p>
                    <button class="bouton_item bouton_ajouter">Ajouter</button>
                  </div>
                </div>
                <% }} %> 
              </div>

              <div id="div_produits_pizzas"  class="row">
                <% for(let i=0; i<pizzas.length; i++) {
                  if (i%2===0) { %>
                <div class="div_produit col-12 col-sm-6 col-md-6 col-lg-4 text-center">
                  <div class="inside_div_produit">
                    <img src="images/<%= pizzas[i].nom %>.jpg" alt="<%= pizzas[i].nom %>" class="img-fluid"/>
                    <p class="nom_item"> <%= pizzas[i].nom %> </p>
                    <select name="taille" class="select select-taille">
                      <% for(let j=0; j<taille.length; j++) { %>
                        <option value=<%=taille[j].taille%>><%=taille[j].taille%></option>
                      <% } %>
                    </select>
                    <p class="prix_item">
                      <% if(pizzas[i].nom === "Personnalisable") { %>A partir de <% } %>
                        <%= pizzas[i].prix %>€ 
                    </p>
                    <% if(pizzas[i].nom === "Personnalisable") { %>  <!-- TODO ligne du bas: a changer en"#modal_ingredients<%=pizzas[i].nom%>"  ? -->
                      <button class="bouton_item bouton_pizza_choisir" data-toggle="modal" data-target="#modal_ingredients<%=i%>">Choisir</button>
                    <% } else { %>
                      <button class="bouton_item bouton_ajouter">Ajouter</button>
                      <button class="bouton_item bouton_personnaliser" data-toggle="modal" data-target="#modal_ingredients<%=i%>">Personnaliser</button>
                    <% } %>
                  </div>
                </div>
                <% }} %> 
              </div>
              
              <div id="div_produits_boissons"  class="row" hidden>
                <% for(let i=0; i<boissons.length; i++) { %>
                <div class="div_produit col-12 col-sm-6 col-md-6 col-lg-4 text-center">
                  <div class="inside_div_produit">
                    <img src="images/<%= boissons[i].nom %> <%= boissons[i].volume %>.jpg" alt="<%= boissons[i].nom %>" class="img-fluid"/>
                    <p class="nom_item"> <%= boissons[i].nom %> <%= boissons[i].volume %> </p>
                    <p class="prix_item"> <%= boissons[i].prix %>€ </p>
                    <button class="bouton_item bouton_ajouter">Ajouter</button>
                  </div>
                </div>
                <% } %> 
              </div>
              
              <div id="div_produits_desserts"  class="row" hidden>
                <% for(let i=0; i<desserts.length; i++) { %>
                <div class="div_produit col-12 col-sm-6 col-md-6 col-lg-4 text-center">
                  <div class="inside_div_produit">
                    <img src="images/<%= desserts[i].nom %>.jpg" alt="<%= desserts[i].nom %>" class="img-fluid"/>
                    <p class="nom_item"> <%= desserts[i].nom %> </p>
                    <p class="prix_item"> <%= desserts[i].prix %>€ </p>
                    <button class="bouton_item bouton_ajouter">Ajouter</button>
                  </div>
                </div>
                <% } %> 
              </div>
              
              <div id="div_produits_sauces"  class="row" hidden>
                <% for(let i=0; i<sauces.length; i++) { %>
                <div class="div_produit col-12 col-sm-6 col-md-6 col-lg-4 text-center">
                  <div class="inside_div_produit">
                    <img src="images/<%= sauces[i].nom %>.jpg" alt="<%= sauces[i].nom %>" class="img-fluid"/>
                      <p class="nom_item"> <%= sauces[i].nom %> </p>
                      <p class="prix_item"> <%= sauces[i].prix %>€ </p>
                      <button class="bouton_item bouton_ajouter">Ajouter</button>
                  </div>
                </div>
                <% } %> 
              </div>

            </div>

            <!-------------------- panier -------------------->
            <div id="div_panier" class="d-none d-md-block col-md-4 col-lg-3">
              <h2>Panier</h2>
              <div id="panier_vide">
                <p><!--!!!!!!!!! A modifier en js !!!!!!!!!-->
                  Votre panier est vide. Pas d'idées ? Regardez
                    <button id="lien_menu">nos incroyables menus</button>
                </p>
              </div>
              <div id="div_bouton_commander">
                <button id="bouton_commander" type="button" name="bouton_commander" disabled>Commander</button>
              </div>
            </div>
            <!-- <div id="div_small_commander" class"d-block d-md-none col-xs-12 col-sm-12"> -->
              <button id="bouton_small_commander" class="d-block d-md-none col-xs-12 col-sm-12 fixed-bottom" 
                  type="button" name="bouton_small_commander" data-toggle="modal" data-target="#modal_panier">Commander</button>
            <!-- </div> -->

          </div>
      </div>
  </div>

</body>
</html>
